@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Raleway", sans-serif;
}

.background {
    background-image: url("/img/Feature Graphic.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
}
.gradient-box {
    background: linear-gradient(
        to right,
        rgba(17, 17, 17, 1),
        rgba(51, 51, 51, 1)
    );
}

@media (max-width: 767px) {
    .no-background {
        background-image: none;
    }
}

@media (min-width: 768px) {
    .no-background {
        background-image: url("/img/Feature Graphic.jpg");
        background-size: cover;
        background-position: center;
    }
}
